.principal{
    opacity: 50%;
    position: relative;
	display: inline-block;
    width: 500px;
    height: 500px;
    
}
.btn-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.85;
	transition: opacity 0.1s, transform 0.3s;
}
h1{
    font-size: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(161, 34, 113);

}
.contacto{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    margin-left: 2px;
    margin-right: 3px;
    display: flex;
    align-items: center;
    color: rgb(161, 34, 113);
   
}

h5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button-card{
    background-color: none;
    
}
.input-group-text {
  background-color: transparent !important;
  border: none !important;
}
span{
    color: blueviolet !important;
}


